{% extends "menu/base.html" %} 
{% block content %}
<style>
    body{
        /* background-color: rgb(254, 215, 222); */
    }
    .inputs-div{
    background-color: white;
    border-radius: 17px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    margin: 50px auto; /* وسط صفحه */
    padding: 30px 20px;
    max-width: 90%; /* اندازه حداکثر 90% عرض صفحه */
    width: 400px; /* دسکتاپ */
    transition: 0.9s;
}

    .inputs{
        background-color: #D0EFF4;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border: 2px solid rgb(163, 163, 163); 
        border-radius: 10px;
        width: 100%; /* کامل پر کردن عرض فرم */
        padding: 13px;
        margin-bottom: -10px; /* کمتر شد */
        transition: 0.9s;
        box-sizing: border-box; /* مهم برای padding داخل عرض */
    }


    .submit{
        border: none;
        color: white;
        font-size: larger;
        font-weight: 500;
        background-color: #e62498;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        height: 55px;
        width: 100%;
        max-width: 160px;
        display: block;
        margin: 5px auto 0 auto; /* وسط صفحه */
        text-align: center;
        cursor: pointer;
        transition: 0.5s;
    }

    .submit:hover,
    .inputs:hover,
    .inputs-div:hover{
        transform: translateY(-5px); 
    }

    @media (max-width: 768px){
    .inputs-div{
        width: 90%;
        padding: 20px;
        margin: 30px auto; /* فرم وسط و فاصله از بالا */
    }
    .inputs{
        width: 100%; /* پر کردن عرض فرم */
        margin-bottom: -10px; /* فاصله کمتر بین اینپوت‌ها */
    }
    .submit{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        margin-left:100px ;
        position: relative; /* حذف absolute */
    }
    }




</style>
{% endblock %} 


{% block inputs_content %}

<form method="post">
    {% csrf_token %}
    <div class="inputs-div"> 
        <input type="text" name="username" placeholder="username..." required class="inputs"> <br>
        <br>
        <input type="text" name="password" placeholder="password..." required class="inputs"> <br>
        <br>
        <br>
        <button class="submit">Submit</button>
    </div>


</form>

{% endblock %}